<section class="bg-white">
    <div class="container px-4 py-8 mx-auto row">
      <div class="col-lg-7 d-flex flex-column justify-content-center">
        <h1 class="display-4 font-weight-bold mb-4">
          Acerca de Nosotros
        </h1>
        <p class="lead text-muted mb-6">
            Iniciamos nuestra actividad como Pc componentes. en el año 2010, ofreciendo servicios de venta, mantenimiento y reparación de computadoras y accesorios tecnológicos para el sector educativo, empresarial y doméstico, estableciéndonos como proveedores de confianza.

            Siendo la satisfacción de nuestros clientes nuestro compromiso diario y advirtiendo el crecimiento de la demanda tecnológica, fue imprescindible optimizar nuestra cartera de productos para ofrecer soluciones de calidad que respondan a las exigencias de los procesos de valor.
            
            Hoy en día contamos con la confianza de reconocidas marcas como Dell, HP, y Lenovo para la distribución de sus productos en Bolivia. Gracias a la asociación con nuestros profesionales, Pc componentes. está lista para proporcionar asesoramiento, provisión de equipos, instalación y servicios postventa al más alto nivel competitivo en el mercado.
            
            Desde el año 2015, nuestro servicio técnico se encuentra acreditado por la Dirección Técnica de Acreditación (DTA), dependiente del Instituto Boliviano de Normalización y Calidad (IBNORCA), de acuerdo a la norma NB-ISO-IEC 17025:2005 para realizar reparaciones y mantenimientos de equipos informáticos.
        </p>
        <div class="d-flex">
          
        </div>
      </div>
      <div class="col-lg-5 d-none d-lg-flex">
        <img
          src="https://cdn.pccomponentes.com/img/logos/logo-pccomponentes.svg"
          alt="mockup"
          class="img-fluid"
        />
      </div>
    </div>
</section>

  
  <div class="contact-section">
    <div class="contact-item">
      <i class="fas fa-phone"></i>
      <h3>Llámanos</h3>
      <p>1 (591+) 72605012</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-map-marker-alt"></i>
      <h3>Ubicación</h3>
      <p>95 Rock Street, 21 Avenue,<br>Santa Cruz, BO 92103-9000</p>
    </div>
    <div class="contact-item">
      <i class="fas fa-clock"></i>
      <h3>Horas</h3>
      <p>Lun – Vie ..... 11 am – 8 pm,<br>Sáb, Dom ..... 6 am – 8 pm</p>
    </div>
  </div>
  
  
  
  
