/* contacto.component.css */

/* Estilo general para el formulario */
h4{
    font-size:50px;
    text-align: center;
}
form {
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 1000px;
    background-color: #f9f9f9;
  }
  
  label {
    font-weight: bold;
    color: #333;
  }
  
  input[type="text"], input[type="email"], input[type="date"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .form-text.text-danger {
    color: #d9534f;
  }
  
  /* Estilo para los botones */
  .btn {
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
  }
  
  .btn-outline-primary {
    background-color: #fff;
    color: #007bff;
    border: 1px solid #007bff;
  }
  
  .btn-outline-primary:hover {
    background-color: #007bff;
    color: #fff;
  }
  
  .btn-block {
    width: 100%;
  }
  
  /* Estilo para el checkbox */
  input[type="checkbox"] {
    margin-top: 7px;
    margin-right: 10px;
  }
  

  .form-group.row {
    align-items: center;
  }
  
  .btn-outline{
    color: orangered;
    border-color: orangered;
  }
  
  .btn-outline{
    color: white;
    background-color: orangered;
    border-color: orangered;
  }